.banner-image {
    height: 80vh;
    width: 100%;
    min-height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    z-index: 0;
}

.banner-btn {
    background: transparent;
    padding: 12px 30px;
    border-radius: 5px;
    background: blue;
    position: relative;
    border: none;
    z-index: 1;
    transition: .5s;
}

.banner-btn::before {
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background: #2a8df0;
    border-radius: 3px;
    z-index: -1;
    transition: .7s;
}
.banner-btn:hover::before {
    width: 100%;
}
.banner-btn:hover{
    letter-spacing: 5px;
}